<section class="registration">
    <div class="container">
        <h2>Регистрация</h2>

        <form action="">
            <div class="form-group">
                <label for="name">Имя</label>
                <input id="name" type="text" name="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" type="text" name="email">
            </div>
            <div class="form-group">
                <label for="phone">Телефон</label>
                <input id="phone" type="text" name="phone">
            </div>
            <div class="form-group">
                <label for="company">Компания</label>
                <input id="company" type="text" name="company">
            </div>
            <div class="form-group">
                <label for="city">Город</label>
                <select id="city" name="city">
                    <option>Алматы</option>
                    <option>Нур-Султан</option>
                    <option>Шымкент</option>
                    <option>Актобе</option>
                    <option>Атырау</option>
                    <option>Караганда</option>
                </select>
            </div>

            <input type="submit" value="Отправить 🚀">
        </form>
    </div>
</section>