<header>
    <div class="container">
        <img src="{{ logo }}" alt="logo" class="logo" onclick="window.location.href = '/'">

        <a href="#" class="menu-link">
            <img src="/admin/data/blocks/public/header/menu.png" alt="menu" class="menu-icon">
        </a>

        <nav>
            {% for link in menu %}
                <a href="#" data-scroll-to="{{ link.scrollTo }}" class="{% if link.isSpecial %} special {% endif %}">
                    {{ link.text }}
                </a>
            {% endfor %}
        </nav>
    </div>
</header>