<section class="program">
    <div class="container">
        <h2>{{ title }}</h2>

        <div class="program-wrapper">
            {% for point in program %}
                <div class="program-card">
                    <div class="program-point"></div>
                    <div class="text-wrapper">
                        <h5>{{ point.time }}</h5>
                        <p>{{ point.desc }}</p>
                        {% if point.speaker %}
                            <p class="program-speaker">{{ point.speaker }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>