{{ includeBlock('/admin/header-ajax') }}

<div class="container">
    <main class="px-2 py-4">
        {{ includeBlock('/admin/block-add') }}
    </main>
</div>

{{ includeBlock('/admin/footer-ajax') }}