{{ includeBlock('/admin/header') }}

{{ includeBlock('/admin/pages-sidebar') }}

<div style="margin-left: 300px;">
    <div class="container">
        <main class="px-2 py-4">

            {{ includeBlock('/admin/page-edit') }}
        </main>
    </div>
</div>

{{ includeBlock('/admin/footer') }}